/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Muli', sans-serif;

/* Theme - colors */

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


$orange: rgb(255, 87, 25);
$red: rgb(249, 41, 13);
$yellow: rgb(254, 167, 52);
